body {
    background-color:  burlywood;
}
h1 {
    color: black;
    text-align: center;
    color: darkslateblue;
}
p{
    text-align: center;
}
a {
    font-weight: bolder;
    display: inline-block;
    text-align: center;
}
img {
    display: block;
    margin: auto;
}
footer{
    text-align: center;
    display: block;

}